.images img {
  height: 300px;
  width: 300px;
  justify-content: center;
  margin: 4px;
}
.para {
  color: #39d54b;
}
body {
  background-color: linen;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}
.greet {
  background-color: #f3e969;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(2, 3, 4, 0.2);
  color: #333;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  width: 80%;
  max-width: 600px;
}
div h1 {
  color: #006d77;
  font-size: 36px;
  margin: 0 0 20px;
  padding: 14px 14px;
}
